body {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: #000000;
    background-color: #f9f8f7;
}

.visualization-container {
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    margin: auto;
    color: black;
    margin: auto;
    width: 60%;
    overflow-x: scroll;
}

.visualization {
    margin: auto;
    display: block;
    width: 60%;
    aspect-ratio: 1 / 1;
}

.column {
    width: 60%;
    margin: auto;
    display: block;
    padding: 1%;
}

p {
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

div.input-container label {
    padding: 10px;
    border-radius: 10px;
    background-color: #eeeeee;
}

div.input-container label:hover {
    background-color: #fcccb8;
}

div.input-container input:checked ~ label {
    background-color: #FC4C02;
    color: white;
    font-weight: bold;
}

input.radio {
    display: none;
}

input.checkbox {
    display: none;
}

div.input-container #photo-upload {
    padding: 10px;
}

#photo-upload-label {
    background-color: #dddddd;
}

#photo-upload-label:hover {
    background-color: #cccccc;
}

#photo-upload {
    display: none;
}

div.input-container #back-photo-upload {
    padding: 10px;
}

#back-photo-upload-label {
    background-color: #dddddd;
}

#back-photo-upload-label:hover {
    background-color: #cccccc;
}

#back-photo-upload {
    display: none;
}

div.button {
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    background-color: #eeeeee;
    margin-bottom: 10px;
}

div.button:hover {
    background-color: #dddddd;
}

p.sport {
    font-size: larger;
    color: #666666;
}

p.name {
    font-size: xx-large;
    padding-top: 0;
    padding-bottom: 0;
}

p.date {
    font-size: larger;
}

.form {
    display: grid;
    grid-template-columns: auto auto auto;
}

.form p {
    font-weight: bold;
    padding-bottom: 5%;
}

.form div {
    padding-top: 1%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1680px) {
    .column {
        width: 70%;
    }

    .visualization {
        width: 70%;
    }
}

@media screen and (orientation: portrait) {
    .form {
        font-size: xx-large;
    }
}

@media screen and (orientation: portrait) and (max-width: 1280px) {
    .column {
        width: 95%;
    }

    p {
        width: 90%;
    }

    .visualization {
        width: 80%;
    }
}

@media screen and (orientation: portrait) and (max-width: 736px) {
    .column {
        width: 98%;
    }

    .visualization {
        width: 90%;
    }
}